#loader {
  position: fixed;
  top: 0; left: 0; z-index: 999;
  width: 100vw; height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../img/Loader-unscreen.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100px;
  
  
}

/* #loading.load { display: block; } */



