@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Josefin+Slab&family=Old+Standard+TT&display=swap');

* {
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    cursor: pointer;
    top: 0;
}

.background {
    background: url(../img/nasa-Q1p7bh3SHj8-unsplash.jpg);
    width: 100%;
    background-size: cover;

}

.logo {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;


}
.logo img {
    width: 30%;
}

.nav-list {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
}

.nav-list li {
    padding: 15px 24px;
    font-size: 20px;
    list-style: none;

}

.nav-list li a {
    text-decoration: none;
    color: grey;
}

.nav-list li a:hover {
    color: white;


}

.rightNav {
    width: 10%;
    text-align: right;
    color: white;
    font-size: 16px;
    margin-bottom: 16px;
}

/* =================================================*/
                    /* HEADER */
/* =================================================*/
.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 100px;
    max-width: 65%; 
    margin: auto; 
    padding-top: 15%;
    
}

header{
    height: 100vh;
}

/* .box-main .small-txt {
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.4rem;
    font-weight: 100;
} */

.box-main .lg-txt {
    font-family: 'Josefin Slab', serif;
    width: 70%;
    font-size: 47px;
}
.container {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container p {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.6rem;
    padding: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    /* text-align: center; */
    overflow: hidden;
  }
  .container p span.typed-text {
    font-weight: normal;
    color: #C4FCFD;
  }
  .container p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
  }
  .container p span.cursor.typing {
    animation: none;
  }
  @keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
  }
.lg-txt span {
    color: #2E86C1 ;
}

.first-Half {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.first-Half a {
    text-decoration: none;
    color: white;
}

.btn-cv-links{
    display: block;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
    padding-top: 7%;
}
.btn-cv-links a{
    text-decoration: none;
    border: 3px double #4176b2;
    border-radius: 3px;
    margin-right: 20px;
    padding: 10px;
    font-size: 22px;
    color: white;
    font-family: 'Inconsolata', monospace;
    background-color: black;
}
    
/* .second-Half{
    width: 55%;
    

}
     
.second-Half img {
    width: 100%;

} */
   

.burger {
    display: none;
    position: absolute;
    top: 15px;
    right: 5%;
    cursor: pointer;
}

.line {
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 4px 3px;
    border-radius: 20%;
}

/* ===================================== */
   /* FIRST-SECTION */
/* ===================================== */
section{
    position: absolute;
    background: linear-gradient(225deg,skyblue 71%,blue 0%,#4176b2 0%);
    width: 100%;
    background-size: cover;
   
}
.section-title{
    font-family: 'Rajdhani', sans-serif;
    font-size: 38px;
    text-align: center;
    text-shadow: 2px 2px 8px royalblue;
    word-spacing: 3px;
    padding-top: 6vh;
    padding-bottom: 4vh;
    

}
.first-section{
    padding-bottom: 2%; 
    margin: auto;
    max-width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
   
.first-section .intro-line{
    display: flex;
    flex-wrap:nowrap;
    
    
}
.first-section img{
    width: 50%;
    transition: all 2s;
    margin-left: 80px;
    margin-right: 0;
    filter: grayscale(100%);
    padding: 5px;
    height: 100%;
    border-top: 6px double red;
    border-right: 6px double red;
    border-left: 10px double black;
    border-bottom: 10px double black;
    border-radius: 5px;
   
}
.first-section img:hover{
    transform: scale(1.1);
    filter: grayscale(0%);
    transition: all 2s;
    padding: 10px;
}
.intro{
    padding-left: 0;
    margin-top: 40px;
} 
         /* ================================== */
              /* SECOND-SECTION */
         /* ================================== */
.second-section{
   padding: 3%;

}
  .tab-titles{
    display: flex;
    margin: 20px 250px 40px;
  }
  .tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
  }
  .tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: orange;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.2s;
  }
  .tab-links.active-link::after{
    width: 60%;
    
  }
  .tab-contents{
    display: none;
  }
  .tab-contents.active-tab{
    display: block;
  }
  .tab-contents ul{
    list-style: none;
  }
  
  .tab-contents .skills-bar{
    padding-left: 250px;
    padding-top: 0px;
  }
  .tab-contents li{
    padding-left: 200px;
  }
  .tab-contents ul li span{
    color: #D68910 ;
    font-weight: bold;
  }
  .skills-bar .bar{
    margin: 25px 0;
  }
  .Skill li{
    color: lightyellow;
    word-spacing: 3px;
    text-shadow: 3px 3px 5px red;
  }
  .skills-bar .bar .info span {
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Playfair Display', serif;
  }
  
  .skills-bar .bar .info {
    margin-bottom: 8px;
    color: #f0f0e6;
  }
  
  .skills-bar .bar .progress-line {
    position: relative;
    height: 10px;
    width: 550px;
    background: #f0f0f0;
    border-radius: 10px;
    transform: scaleY(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  }
  
  .bar .progress-line span {
    position: absolute;
    background:linear-gradient(45deg, orange,  rgb(156, 7, 48) 100%);
    height: 100%;
    border-radius: 10px;
    transform: scaleY(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  }
  
  @keyframes animate {
    100% {
      transform: scaleX(1);
    }
  }
  
  .progress-line .html {
    width: 80%;
  }
  .progress-line .css , .mongodb{
    width: 70%;
  }
  .progress-line .bootstrap {
    width: 70%;
  }
  .progress-line .javascript {
    width: 50%;
  }
  .progress-line .jq {
    width: 50%;
    
  }
  .progress-line .node , .express {
    width: 50%;
  }
  
  .bar .progress-line span::before {
    position: absolute;
    content: "";
    height: 0;
    right: 0;
    top: -12px;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    
    border-top-color: #f0f0f0;
  }
  
  .bar .progress-line span::after {
    position: absolute;
    right: 0;
    top: -28px;
    color: #07374a;
    font-size: 12px;
    font-weight: 700;
    background: #f0f0f0;
    padding: 1px 8px;
    border-radius: 3px;
  }
  
  .progress-line .html::after {
    content: "80%";
  }
  .progress-line .css::after , .mongodb::after{
    content: "70%";
  }
  .progress-line .bootstrap::after {
    content: "70%";
  }
  .progress-line .javascript::after {
    content: "50%";
  }
  .progress-line .jq::after {
    content: "50%";
  }
  .progress-line .node::after , .express::after {
    content: "50%";
    
  } 
    

   
    

    

























@media only screen and (max-width:950px) {
    .nav-list {
        flex-direction: column;
        /* background-image: url(../img/WallpaperDog-5533890.jpg); */
        width: 100%;
        background-color: black;
        opacity: 0.5;
        height: 700px;
    }
    .box-main{
        max-width: 100%;
        
    }
    .box-main .lg-txt {
        font-family: 'Josefin Slab', serif;
        width: 70%;
        margin-top: 100%;
        font-size: 40px;
    }
       


    .navbar {
        flex-direction: column;
        /* transition: all 0.7s ease-out; */

    }
    .second-Half {
        width: 55%;
        display: none;
        justify-content: center;
        align-items: center;
        margin-top: 17%;
        margin-right: 0;
   
    }
    .second-Half svg{
        transform: rotate(270deg);
    }
    .second-Half a{
        text-decoration: none;
        color: #154360;
    }
    .second-Half a:hover{
        color: #ECF0F1;
    }
    .second-Half span{
        font-size: 16px;
        letter-spacing: 1px;
        text-align: center;
        font-weight: 400;
        background-color: black;
        color: white;
        padding: 7px;
    }
    .btn-cv-links {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 60%;
        padding-top: 7%;
    }
    .btn-cv-links a{
        text-decoration: none;
        border: 3px double #4176b2;
        border-radius: 3px;
        margin-top: 10px;
        padding: 8px;
        word-spacing: 3px;
        font-size: 18px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        background-color: black;
    }



    .rightNav {
        display: none;
    }

    .logo {
        display: none;
    }

    .burger {
        display: block;
    }

    .h-nav {
        height: 72%;
    }

    .v-class {
        display: none;
    }

    /* -------------------section ------------------*/

    
    .first-section .intro-line{
        display: flex;
        flex-wrap:nowrap;
        flex-direction: column;
        font-family: 'Old Standard TT', serif;
        font-weight: 400;
    }
    .first-section p{
      text-align: justify;
    }
    .first-section .dp img{
      margin-left: 0;
    }
    .second-section .tab-titles{
        display: flex;
        flex-direction: column;
        margin: 0;
      }  
      .tab-links{
        margin-right:0;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        position: relative;
      }
      .tab-contents .skills-bar{
        padding-left: 0px;
        padding-top: 0px;
      }
      .tab-contents li{
        padding-left: 0;
      }
      .skills-bar .bar .progress-line {
        height: 10px;
        width: 270px;
        
        
        
      }
        

}